@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Pink {
    font-family: Rocher;
    base-palette: 7;
}

html {
    height: 300%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(107deg, rgb(246, 195, 211) 0%, rgb(225, 129, 141) 37%, rgb(32, 181, 232) 100%);    
    overflow: hidden;
}

#top{
    height: 35px;
    width: 100%;

    display: flex;
    justify-content: center;
}

@keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
* {
    margin: 0;
    padding: 0;
}

#name{
    position: absolute;
    justify-content: center;
    text-decoration: underline;
    margin-right: 3%;
    z-index: 1;

    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

#bord {
    justify-content: center;
    width: 30%;
    height: 60%;
    background: #000;
    border: none;
    transform: translate(-5%,-5%);
    border-radius: 3px;
    padding: 1em 1em;
  
}
#bord:focus, #bord:active {
    outline: none;
}
#bord:before, #bord:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; 
    z-index: -1;
    border-radius: inherit;
    background: inherit;
}
#bord:before {
    background: linear-gradient(90deg, #0ebeff, #ffdd40, #ae63e4, #47cf73, #0ebeff, #ffdd40, #ae63e4, #47cf73);
    background-size: 200% 200%;
}
#bord:after {
    margin: 3px;
}
#bord:before, #bord:focus:before {
    animation: rainbow-border 1.5s linear infinite
}
  
  @keyframes rainbow-border {
    0% { background-position: 0% 50% }
    100% { background-position: 200% 50% }
  }

#countdown {
    display: flex;
    justify-content: center;

    margin-top: 6%;
    font-size: 350%;

    order: 2;
    color: white;
    font-weight: 900;

    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}

#heheButton {
    display: flex;
    justify-content: center;

    margin-top: 5%;
}

.gif {
    width: 150px;
    height: 135px;
}

#gifInButton {
    margin-left: 30%;
}

#beginning {
    display:flex;
    flex-direction: column;

    margin-right: 40px;
}

#ending {
    display:flex;
    flex-direction: column;

    margin-left: 40px;
}

#confirm {
    display:flex;
    flex-direction: column;

    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

    font-size: 500%;
    padding: 3% 3%;

    background-color: pink;
    color: white;

    border-radius: 25px;

    opacity: 0.6;
    font-family: 'Rocher';
    font-palette: --Pink;
    
    text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
}

#confirm:active {
    background-color: #e75480;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#confirm:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#confirm:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#letter {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#pictures {
    margin-top: 5%;

    display: flex;
    justify-content: center;
}

.pics {
    width: 300px;
    height: 300px;
}

ul{
    position:absolute;
    margin:0;
    padding:0;
}

li{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:50px;
}

li:hover{
    top:0px;
}

li:nth-child(1){
    transform:rotate(10deg);
}

li:nth-child(3){
    transform:rotate(10deg);
}

li:nth-child(4){
    transform:rotate(-10deg);
}

li:nth-child(6){
    transform:rotate(10deg);
}

li:nth-child(7){
    transform:rotate(-10deg);
}

li:nth-child(8){
    transform:rotate(10deg);
}

li:nth-child(9){
    transform:rotate(10deg);
}

li:nth-child(10){
    transform:rotate(-10deg);
}

li:nth-child(11){
    transform:rotate(10deg);
}

li:nth-child(12){
    transform:rotate(-10deg);
}

li:nth-child(13){
    transform:rotate(-10deg);
}

li:nth-child(14){
    transform:rotate(10deg);
}

li:nth-child(15){
    transform:rotate(-10deg);
}

li:nth-child(16){
    transform:rotate(10deg);
}

li:nth-child(17){
    transform:rotate(10deg);
}

li:nth-child(19){
    transform:rotate(10deg);
}

li:nth-child(20){
    transform:rotate(-10deg);
}

li:nth-child(21){
    transform:rotate(-10deg);
}

li:nth-child(22){
    transform:rotate(10deg);
}

li:nth-child(23){
    transform:rotate(-10deg);
}

li:nth-child(24){
    transform:rotate(10deg);
}

li:nth-child(25){
    transform:rotate(10deg);
}

li:nth-child(26){
    transform:rotate(-10deg);
}

li:nth-child(27){
    transform:rotate(10deg);
}

li:nth-child(28){
    transform:rotate(-10deg);
}

li:nth-child(29){
    transform:rotate(-10deg);
}

li:nth-child(30){
    transform:rotate(10deg);
}

li:nth-child(31){
    transform:rotate(-10deg);
}

li:nth-child(32){
    transform:rotate(10deg);
}

li:nth-child(33){
    transform:rotate(10deg);
}

li:nth-child(34){
    transform:rotate(-10deg);
}

li:nth-child(35){
    transform:rotate(10deg);
}

li:nth-child(36){
    transform:rotate(-10deg);
}

li:nth-child(37){
    transform:rotate(-10deg);
}

li:nth-child(38){
    transform:rotate(10deg);
}

li:nth-child(39){
    transform:rotate(-10deg);
}

li:nth-child(40){
    transform:rotate(10deg);
}

li:nth-child(41){
    transform:rotate(10deg);
}

li:nth-child(42){
    transform:rotate(-10deg);
}

li:nth-child(43){
    transform:rotate(10deg);
}

li:nth-child(44){
    transform:rotate(-10deg);
}

li:nth-child(45){
    transform:rotate(-10deg);
}

li:nth-child(46){
    transform:rotate(10deg);
}

li:nth-child(47){
    transform:rotate(-10deg);
}

li:nth-child(48){
    transform:rotate(10deg);
}

li:nth-child(49){
    transform:rotate(10deg);
}

li:nth-child(50){
    transform:rotate(-10deg);
}

li:nth-child(51){
    transform:rotate(10deg);
}

li:nth-child(52){
    transform:rotate(-10deg);
}

li:nth-child(53){
    transform:rotate(-10deg);
}

li:nth-child(54){
    transform:rotate(10deg);
}

li:nth-child(55){
    transform:rotate(-10deg);
}

li:nth-child(56){
    transform:rotate(10deg);
}

li:nth-child(57){
    transform:rotate(10deg);
}

li:nth-child(58){
    transform:rotate(-10deg);
}

li:nth-child(59){
    transform:rotate(10deg);
}

li:nth-child(60){
    transform:rotate(-10deg);
}

li:nth-child(61){
    transform:rotate(-10deg);
}

li:nth-child(62){
    transform:rotate(10deg);
}

li:nth-child(63){
    transform:rotate(-10deg);
}

li:nth-child(64){
    transform:rotate(10deg);
}

.light{
    border-radius:50%;
    position:absolute;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
}

#hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.heart-container {
    float: left;
    position: absolute;
    top: -20px;
    left: -20px;
    -moz-animation-duration: 8s;
    -moz-animation-name: fall;
    -moz-animation-timing-function: linear;
    -webkit-animation-duration: 8s;
    -webkit-animation-name: fall;
    -webkit-animation-timing-function: linear;
}
@-moz-keyframes fall {
    from {
        top: -20px;
    }
    to {
        top: 100%;
    }
}
@-webkit-keyframes fall {
    from {
        top: -10%;
    }
    to {
        top: 100%;
    }
}
.heart {
    overflow: hidden;
    height: 20px;
    width: 20px;
    font-size: 20px;
    text-align: center;
    color: red;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: swing;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-transform-origin: center center;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: swing;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transform-origin: center center;
}
@-moz-keyframes swing {
    from {
        -moz-transform: rotate(-45deg) translateX(10px);
    }
    to {
        -moz-transform: rotate(45deg) translateX(-10px);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: scaleX(1) translateX(5px);
    }
    50% {
        -moz-transform: scaleX(0.1);
    }
    to {
        -moz-transform: scaleX(1) translateX(-5px);
    }
}
@-webkit-keyframes swing {
    from {
        -webkit-transform: rotate(-45deg) translateX(10px);
    }
    to {
        -webkit-transform: rotate(45deg) translateX(-10px);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: scaleX(1) translateX(5px);
    }
    50% {
        -webkit-transform: scaleX(0.1);
    }
    to {
        -webkit-transform: scaleX(1) translateX(-5px);
    }
}

